/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  text-align: center;
}





/*HERO*/
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent; 
  padding: 20px;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  background: transparent; 
  padding: 20px;
  z-index: 100;
}

nav > div {
  display: flex;
  justify-content: space-between;
  width: 100%; 
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}

.menu-toggle {
  cursor: pointer;
  z-index: 10; 
}

.nav-links {
  list-style: none;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #0d3b66;
  padding: 20px;
  text-align: left;
  gap: 10px;
  background: rgba(13, 59, 102, 0.8);
}

.nav-links.show {
  display: flex;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.hero {
  padding: 60px 20px;
  background: url("https://s3-alpha-sig.figma.com/img/a5fc/bde5/258262f42e8d47435151dd5e6c7fc8ba?Expires=1742169600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=oQTT75gl~E3azkfrQ8N3Fhm11Yc4NtWuNrtnJV38G4miOr8M7aIQTpLvGz9CoOxdmA0jZAgAF~8Kb2dtr-7TP75gDxLNcMARBlAqVfKr~5X0niv6AYyijBtFCzkWKnUhsf5OeYZn77tczxy2Vw5L-PNi8ppvbLaYJO0UbmjauNS2muXqn40l~bJqBar~chYyNYN5mMDt2uwBNk4ho6hSHF8o5z6Mrxfx2yPbL5stmEyaDrd6HMeYJhERSt2NxAM8VxL6WQ4tvnqr1ehxqQ4zGMbfZB~nLr6DO4oLLNMOmer7UPmoNn6baRmFuPQILYIQ9oLZH6ne0fCAYsA6-Zatkg__") -150px center / cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: calc(100vh - 100px);
  text-align: justify;
  align-content: center;
  color: white;
}

.hero h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: left;
  width: 313px; 
  height: 117px;
  line-height: 130%;
  margin-right: 30px;
}

.hero p {
  font-size: 14px;
  width: 313px; 
  height: 119px;
  margin-bottom: 50px;
  text-align: left;
  margin-right: 30px;
}

.cta-button {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: 10px 20px; 
  border-radius: 50px;
  font-weight: bold;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: background 0.3s;
}

.cta-button:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* Desktop styles */
@media (min-width: 1024px) {
  .menu-toggle {
    display: none;
  }

  nav {
    padding: 20px 80px;
  }

  .nav-container {
    width: auto;
  }

  .nav-links {
    position: static;
    display: flex;
    flex-direction: row;
    background: transparent;
    padding: 0;
    gap: 40px;
    margin-left: 40px;
  }

  .hero {
    padding: 120px 80px;
    background-position: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: #0d3b66;
  }

  .hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(13, 59, 102, 0.8) 0%, rgba(13, 59, 102, 0) 100%);
    z-index: 1;
  }

  .hero h2 {
    font-size: 48px;
    font-weight: 500;
    width: 500px;
    height: auto;
    margin-bottom: 24px;
    line-height: 120%;
    position: relative;
    z-index: 2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .hero p {
    font-size: 16px;
    width: 450px;
    height: auto;
    margin-bottom: 40px;
    line-height: 160%;
    position: relative;
    z-index: 2;
    opacity: 0.9;
  }

  .cta-button {
    font-size: 16px;
    padding: 16px 32px;
    border-width: 3px;
    position: relative;
    z-index: 2;
    font-weight: 600;
    letter-spacing: 0.5px;
  }

  .logo {
    font-size: 20px;
    letter-spacing: 0.5px;
    white-space: nowrap;
  }

  .nav-links a {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    opacity: 0.9;
    transition: opacity 0.3s;
  }

  .nav-links a:hover {
    text-decoration: none;
    opacity: 1;
  }
}





/*SHOP*/
.shop {
  max-width: 400px;
  margin: auto;
  padding: 1rem;
  text-align: left;
}

.shop h1{
  color: #101828;
  margin: 20px auto;
  border-bottom: 0.2px solid lightgrey;
  padding-bottom: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between; 
}

.search {
  margin-left: auto; 
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.shop p {
  color: #000000;
  font-weight: 500;
  size: 15px;
  margin-block-end: 1rem;
}

.categories {
  margin-bottom: 20px;
  display: flex; /* Ativa o layout flexível */
  justify-content: space-between;
  gap: 10px; /* Adiciona espaçamento entre os botões */
  flex-wrap: wrap; /* Permite quebra de linha caso necessário */
}

.categories button {
  display: block; /* Mantém os botões no layout correto */
  padding: 8px;
  border: none;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  text-align: center;
}

.categories button.active {
  background: linear-gradient(90deg, #101828, #233250);
  color: white;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  display: none;
  width: 100%;
  margin: 10px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.product img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: 0.3s ease-in-out;
}

.product:hover img {
  filter: brightness(60%);
}

.product-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza nome e descrição */
  align-items: center;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  padding: 20px;
  text-align: center;
}

.product:hover .product-info {
  opacity: 1;
}

.product-info h3 {
  margin: 5px 0;
  font-size: 25px; /* Ajusta tamanho do título */
  font-weight: 500;
}

.product-info p {
  font-size: 12px; /* Ajusta tamanho da descrição */
  margin-bottom: 15px;
  color: white;
}

.product-info .price {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: 500;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
}

.product-info .buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 20px; /* Fixa os botões na parte inferior */
}

.btn {
  background: linear-gradient(90deg, #101828, #233250);;
  color: white;
  padding: 8px 23px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 200;
  text-align: center;
}

.btn-quantity {
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
}

.quantity-control {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #101828, #233250);
  border-radius: 5px;
  padding: 2.5px 5px;
  color: white;
  gap: 10px;
}

.quantity-control span {
  font-size: 13px; /* Diminui o número */
  font-weight: 400;
}

.buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* Estiliza o coração no canto superior direito */
.product {
  position: relative; /* Importante para posicionar o botão */
}

.favorite {
  position: absolute;
  top: 18px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.favorite svg {
  width: 20px; /* Ajuste o tamanho conforme necessário */
  height: 18px;
}

.favorite svg path {
  fill: transparent; /* Mantém o coração sem preenchimento */
  stroke: white; /* Cor das bordas */
  transition: fill 0.3s ease-in-out;
}

.favorite.active svg path {
  fill: white; /* Preenche o coração ao clicar */
}

/* Desktop styles */
@media screen and (min-width: 1024px) {
  .shop {
    max-width: 1200px;
    padding: 2rem;
  }


  .shop h1 {
    font-size: 35px;
    margin: 30px auto;
  }

  .shop p {
    font-size: 35px;
  }

  .categories {
    margin-bottom: 30px;
    justify-content: center;
    gap: 20px;
  }

  .categories button {
    padding: 10px 20px;
    font-size: 1rem;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: start;
  }

  .product {
    width: auto;
    margin: 0;
  }

  .product img {
    aspect-ratio: 1;
    object-fit: cover;
  }

  .product-info h3 {
    font-size: 28px;
  }

  .product-info p {
    font-size: 14px;
  }

  .product-info .price {
    font-size: 20px;
  }

  .buttons {
    gap: 15px;
  }

  .btn {
    padding: 10px 25px;
    font-size: 1rem;
  }

  .quantity-control {
    padding: 5px 10px;
  }

  .quantity-control span {
    font-size: 14px;
  }
}

/* Additional breakpoint for larger screens */
@media screen and (min-width: 1440px) {
  .shop {
    max-width: 1400px;
  }

  .products {
    grid-template-columns: repeat(4, 1fr);
  }
}





/*SERVICES*/
.service-section {
  max-width: 400px;
  margin: auto;
  padding: 1rem;
  text-align: left;
}

.service-section h1 {
  color: #101828;
  margin: 30px auto;
  border-bottom: 0.2px solid lightgrey;
  padding-bottom: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 15px;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.service-item {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
}

.service-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  transition: background 0.3s ease-in-out;
}

.service-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 25px;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}

.service-content {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  opacity: 0;
  transition: 0.3s ease-in-out;
  width: 100%;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.service-content p {
  font-size: 12px;
  width: 100%;
  max-width: 600px;
  display: block;
  text-align: justify;
  padding: 0.8rem;
}

.service-content button {
  background: linear-gradient(90deg, #101828, #233250);
  color: white;
  white-space: nowrap;
  display: inline-block;
  width: auto;
  min-width: max-content;
  margin-block-end: 10px;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.service-content button:hover {
  opacity: 0.9;
}

.full-width {
  grid-column: span 2;
  height: 140px;
  position: relative;
}

.service-label p {
  width: 80%;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
  margin: 0 auto;
}

/* Hover effects */
.service-item:hover img {
  filter: brightness(0.5);
}

.service-item:hover .service-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.service-item:hover .service-label {
  top: 20%;
}

.service-item:hover .service-content {
  opacity: 1;
}

/* Desktop styles */
@media screen and (min-width: 1024px) {
  .service-section h1{
    font-size: 35px;
  }

  .service-section {
      max-width: 1200px;
      padding: 2rem;
  }

  .service-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 1rem;
  }

  .service-item {
      height: 250px;
      border-radius: 8px;
  }

  .service-item img {
      border-radius: 8px;
  }

  /* Specific grid placements */
  .service-item:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
  .service-item:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
  .service-item:nth-child(3) { grid-area: 2 / 2 / 3 / 3; }
  .service-item:nth-child(4) { grid-area: 2 / 1 / 3 / 2; }
  .service-item:nth-child(5) { grid-area: 1 / 3 / 3 / 4; height: 100%; }

  .service-content p {
      font-size: 14px;
      padding: 1rem;
  }

  .service-content button {
      padding: 10px 20px;
      font-size: 14px;
  }

  .service-label {
      font-size: 28px;
  }

  /* Remove full-width styles for desktop */
  .full-width {
      grid-column: auto;
      height: 100%;
  }
}






/*ABOUT US*/
.about-us {
  background-color: #ffffff; 
  padding: 16px;
  text-align: left;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 600px; 
  font-family: Arial, sans-serif; 
}

.about-us h1 {
  color: #101828;
  position: relative;
  margin: 0 auto 20px;
  padding-bottom: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center; 
  gap: 15px;
  width: 100%;
}

.about-us h1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #E4E7EC;
}

.about-us p {
  font-size: 15px;
  font-weight: 400;
  color: #667085;
  line-height: 1.6;
  margin-bottom: 24px;
  text-align: left;
}

.about-us p:last-child {
  margin-bottom: 0;
}

.about-us-images {
  display: none;
}

/* Desktop styles */
@media (min-width: 1024px) {
  .about-us {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 40px;
    margin: 40px auto;
    box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  }

  .about-us h1 {
    grid-column: 1 / -1;
    margin: 0 auto 32px;
    font-size: 35px;
    width: 100%;
  }

  .about-us-images {
    display: flex;
    flex-direction: column;
    gap: 32px;
    grid-column: 2;
    grid-row: 2 / span 5;
    align-self: start;
    position:relative;
    top: 150px;
  }

  .about-us-images img {
    width: 100%;
    height: 300px;
    border-radius: 12px;
    object-fit: cover;
    background-color: #F9FAFB;
  }

  .about-us p {
    margin-bottom: 28px;
    font-size: 21px;
    line-height: 1.7;
    color: #475467;
  }

  .about-us p:last-child {
    margin-bottom: 0;
  }
}




/*BLOG*/
.blog {
  background-color: #ffffff; 
  padding: 16px;
  text-align: left;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 600px; 
  font-family: Arial, sans-serif; 
}

.blog h1 {
  color: #101828;
  margin: 20px 0 0 0;
  border-bottom: 0.2px solid lightgrey;
  padding-bottom: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center; 
  gap: 15px;
}

.blog-post h2 {
  color: #101828;
  font-size: 18px;
  font-weight: bold;
  padding: 2rem 0 2rem 0;
}

.blog-post p {
  font-size: 15px;
  font-weight: 400;
  color: #667085;
  line-height: 1.6;
  text-align: left;
}

.blog-post:first-of-type p:first-of-type {
  border-top: 0.2px solid #EAECF0;
  padding-top: 1rem;
}

.blog-post p a {
  color: #2276E3; 
  text-decoration: none;
  font-weight: 500;
}

.blog-post p a:hover {
  text-decoration: underline;
}

.read-more {
  background: linear-gradient(90deg, #101828, #233250);
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  transition: 0.3s ease-in-out;
}

.read-more:hover {
  background: linear-gradient(90deg, #233250, #101828);
}





/*OUR TEAM*/
.team {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.team h1 {
  color: #101828;
  margin: 20px auto;
  border-bottom: 0.2px solid lightgrey;
  padding-bottom: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 15px;
}

.team-member-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.team-member {
  background: white;
  border-radius: 0.5rem;
  text-align: center;
}

.team-member img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  object-position: 50% 20%; 
  margin-bottom: 0.75rem;
}

.team-member h2 {
  color: #101828;
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.team-member p {
  color: #667085;
  font-size: 0.75rem;
  margin-bottom: 0.75rem;
}
.social-icons-profile {
  display: flex;
  gap: 10px; 
  justify-content: center;
  margin-top: 10px; 
}





/*GET IN TOUCH*/
.contact {
  background-color: #101828;
  text-align: center;
  max-width: 1200px;
  padding: 1rem;
}

.contact h1 {
  color: white;
  border-bottom: 0.2px solid #CECECE;
  padding: 2rem 0 1rem 0;
  font-weight: 500;
  display: flex;
  align-items: center; 
  gap: 15px;
}

.contact-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.contact-item {
  padding: 1rem 0 1rem 0;
  border-radius: 10px;
  text-align: left;
}

.icon {
  height: 24px;
  width: 24px;
  align-content:center;
}

.contact-item h2 {
  font-size: 13px;
  font-weight: 600;
  margin: 10px 0;
}

.contact-item p {
  color: #CECECE;
  font-weight: 400;
  font-size: 10.48px;
  margin: 5px 0;
  opacity: 0.8;
}

.contact-item a {
  font-size: 10.48px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  margin-top: 10px;
}

.contact-item a:hover {
  text-decoration: underline;
}

.contact-form {
  background-color: white;
  padding: 1rem;
  margin-block-end: 3rem;
  border-radius: 8px;
  max-width: 500px;
  margin-block-start: 2rem;
  color: #ffffff;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group.inline {
  display: flex;
  flex-direction: row; 
  gap: 1rem; 
  width: 100%;
}

.input-field {
  flex: 1; 
  min-width: 0; 
  display: flex;
  flex-direction: column;
}

label {
  font-size: 10px;
  font-weight: 500;
  color: #344054;
  text-align: start;
  margin-bottom: 10px;
}

input, textarea {
  background-color: white;
  border: 1px solid #D0D5DD;
  border-radius: 6px;
  padding: 0.75rem;
  font-size: 12px;
  color: #667085;
  outline: none;
}

input::placeholder, textarea::placeholder {
  color: #667085;
}

input:focus, textarea:focus {
  border-color: #6366f1;
}

.checkbox {
  display: flex;
  align-items: start;
  gap: 0.5rem;
}

.checkbox input {
  width: 16px;
  height: 16px;
  accent-color: #6366f1;
}

.checkbox label {
  font-size: 10.5px;
  color: #667085;
  text-align: end;
  margin-bottom: 0;
}

.checkbox a {
  color: #667085;
}

.checkbox a:hover {
  text-decoration: underline;
}

.submit-btn {
  background: linear-gradient(90deg, #101828, #233250);
  border: none;
  padding: 0.75rem;
  border-radius: 6px;
  font-size: 10.5px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.submit-btn:hover {
  opacity: 0.9;
}

.form-group.checkbox{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}





/*NEWSLETTER*/
.newsletter {
  background-color: #101828;
  border-top: 0.2px solid #CECECE;
  max-width: 400px;
  margin: auto;
  text-align: start;
  color: white;
}

.newsletter h2 {
  font-size: 20px;
  font-weight: 500;
  margin-block-start: 3rem;
  margin-block-end: 0.5rem;
}

.newsletter p {
  font-size: 13px;
  font-weight: 500;
  color: #d1d5db;
  margin-block-end: 3rem;
}

.email-input {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  color: #667085;
  background-color: #DEDEDE;
  margin-bottom: 1rem;
  outline: none;
}

.subscribe-button {
  width: 100%;
  padding: 0.75rem;
  background-color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #344054;
  cursor: pointer;
  transition: background 0.3s ease;
}

.subscribe-button:hover {
  background-color: #f3f4f6;
}





/*FOOTER*/
.footer {
  background-color: #101828;
  color: white;
  text-align: left;
  max-width: 100%;
  margin-block-start: 5rem;
}

.footer h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.footer p {
  font-size: 16px;
  color: #CECECE;
  margin-bottom: 1.5rem;
}

.footer-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Cria 2 colunas de tamanho igual */
  gap: 2rem;
  max-width: 800px; /* Define uma largura máxima para manter o layout organizado */
  margin: auto; /* Centraliza no rodapé */
}

.footer-column h3 {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 0.75rem;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column li {
  font-size: 16px;
  color: #CECECE;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: color 0.3s;
}

.footer-column li:hover {
  color: #ffffff;
}

.footer-bottom {
  border-top: 0.2px solid #CECECE;
  margin-top: 2rem;
  font-size: 16px;
  color: #CECECE;
  text-align: center;
  font-weight: 400;
  padding-top: 1.5rem;
}

.social-icons-footer {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin-block-end: 1rem;
}
